.imagem-carrossel-um {
    object-fit: cover;
    object-position: 0 80%;
    height: 456px;
}

.imagem-carrossel-dois {
    object-fit: cover;
    object-position: 0 60%;
    height: 456px;
}

.fonte-titulo {
    font-family: 'Pacifico', cursive;
}

.texto-cor-especial {
    color: darkred!important;
}

.botao-cor-especial {
    background-color: darkred;
    color: white;
    font-weight: 500;
}

.botao-cor-especial:hover {
    background-color: white;
    color: darkred;
    font-weight: 500;
    border-color: darkred;
}

.borda-cor-especial {
    border-color: darkred;
}

.cards-receitas {
    justify-content: center;
}

.card-largura {
    max-width: 18rem;
}

.card-imagem {
    object-fit: cover;
    height: 200px;
}

.modal-title {
    font-family: 'Pacifico', cursive;
}
